# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment and virtualenvs
.env
venv/
pyenv/

# Airflow-specific artifacts
airflow.db
unittests.cfg

# Logs and temp files
logs/
*.log

# Data outputs (raw and transformed)
view_data/

# Ignore local-only configs, but keep templates
config/*.local.*
config/*.secret.*

# OS-specific files
.DS_Store
Thumbs.db
